<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-container">



        <div class="uk-navbar-left">

            <ul class="uk-navbar-nav">
                <li  class="uk-active"><a style="color: white;" routerLink="/">Início</a></li>
                <li  class="uk-active"><a style="color: white;" routerLink="/contacto">Contacto</a></li>
            </ul>

        </div>

    </div>
</nav>


<div class="uk-text-center uk-container">

    <img src="/img/logo.png">

</div>
<div class="uk-text-center uk-flex uk-flex-center uk-padding" >
    <a routerLink="/contacto" >
        <button class="uk-button-danger uk-button-large uk-button uk-border-pill">Inscreva-se</button>
    </a>
</div>


<p> 2 </p>